@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
  root: ":root";
  logs: false;
}



@font-face {
  font-family: "Aspekta Variable";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("/fonts/AspektaVF.woff2") format("woff2");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html, body {
  font-family: "Aspekta Variable", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.animate-pop-up { animation: popUp 0.3s cubic-bezier(.18,.89,.32,1.28); }
@keyframes popUp {
  0% { transform: scale(0.85); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

html { scroll-behavior: smooth; }